**/doc/api/
.buildlog/
.dart_tool/
.idea/
.svn/
.vscode/
build/
migrate_working_dir/

.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.history
.metadata
.packages
*.class
*.iml
*.ipr
*.iws
*.lock
*.log
*.pyc
*.swp
analysis_options.yaml
CHANGELOG.md